* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
:root {
  --sec-color: rgb(255, 32, 32);
}
/* start header */
.navbar {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 10;
}
.navbar-nav .nav-link.active,
.nav-link:hover {
  color: var(--sec-color) !important;
}
.navbar-toggler {
  border: none !important;
  outline: none;
}
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none !important;
}
.navbar-toggler-icon {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke='%23FF2020' stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}
.nav-link_cart {
  position: relative;
  width: fit-content;
}
.nav-link_lenghtCart {
  position: absolute;
  top: 0px;
  right: -0.5rem;
  font-size: 16px;
  font-weight: 700;
}
/* end header */
/* start product_item */
.product_item_img {
  width: 50%;
  margin: auto;
  position: relative;
}
.product_icon {
  position: absolute;
  top: 0;
  right: -30px;
  cursor: pointer;
}
.product_icon svg {
  color: var(--sec-color);
}
.product_item_img img {
  height: 9.5rem;
}
.product_item_category {
  width: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 1.5rem;
  margin: auto;
  border: 1px solid var(--sec-color);
  color: var(--sec-color);
}
.product_item_title {
  font-size: 1.125rem;
  font-weight: 600;
  height: 3.375rem;
  overflow: hidden;
}
.product_item_description {
  font-weight: 600;
  overflow: hidden;
  height: 7.5rem;
}
.product_item_price {
  font-size: 1rem;
  font-weight: 700;
}
.product_item .card {
  border: none;
}
.product_item_rating {
  background-color: var(--sec-color);
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
}
/* end product_item  */
/* start details product */
.details_product_rating {
  background-color: var(--sec-color);
  color: #fff;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
}
.details_product_img {
  width: 50%;
}
.details_product_category {
  background-color: var(--sec-color);
  width: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 1.25rem;
  color: #fff !important;
}
.product_item_btn {
  cursor: pointer;
  background-color: transparent !important;
  color: var(--sec-color) !important;
  border: none !important;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* end details product */
/* start slider section */
.carousel-caption {
  color: #000 !important;
  width: 40% !important;
}

.carousel-indicators button {
  background-color: #000 !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e") !important;
}
.banner_btn {
  background-color: #000 !important;
  border-radius: 0 !important;
  border: none !important;
  color: #fff !important;
  letter-spacing: 0.125rem;
  font-weight: 500 !important;
  font-size: 18px !important;
}
@media (max-width: 576px) {
  .carousel-item img {
    min-height: 45vh;
  }
  .banner_title {
    font-weight: 500;
    font-size: 14px;
  }
  .banner_description {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 0 !important;
  }
  .carousel-item:first-child .carousel-caption {
    left: 10%;
    top: 5%;
  }
  .carousel-item:nth-child(2) .carousel-caption {
    left: 50%;
    top: 5%;
  }
  .carousel-caption {
    padding: 1rem 0 !important;
    width: 50% !important;
  }
  .banner_btn {
    margin: 0 !important;
    letter-spacing: 0;
    font-weight: 400 !important;
    font-size: 14px !important;
  }
}
@media (min-width: 576px) {
  .carousel-item:first-child .carousel-caption {
    left: 10%;
    top: 2%;
  }
  .carousel-item:nth-child(2) .carousel-caption {
    left: 50%;
    top: 2%;
  }
  .banner_title {
    font-weight: 500;
    font-size: 16px;
  }
  .banner_description {
    font-size: 13px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .carousel-item:first-child .carousel-caption {
    left: 10%;
    top: 20%;
  }
  .carousel-item:nth-child(2) .carousel-caption {
    left: 50%;
    top: 20%;
  }
  .banner_title {
    font-weight: 600;
    font-size: 20px;
  }
  .banner_description {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .carousel-item:first-child .carousel-caption {
    left: 10%;
    top: 50% !important;
    transform: translateY(-50%);
  }
  .carousel-item:nth-child(2) .carousel-caption {
    left: 50%;
    top: 50% !important;
    transform: translateY(-50%);
  }
}
/* end slider section */
/* start categories section */
.categories_content {
  position: relative;
}
.categories_img {
  position: relative;
}
.categories_img::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(41, 38, 33, 0) 0%, #292621 100%);
}
.categories_title {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center !important;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.categories_title:hover {
}
/* end categories section */
/* start login section */
.login_description {
  font-weight: 500;
}
.login_btn {
  background-color: var(--sec-color) !important;
  text-align: center !important;
  color: #fff !important;
}
.form-label {
  text-align: start !important;
}
.form-control {
  border: 1px solid var(--sec-color) !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.login_description a {
  color: var(--sec-color);
}
@media (max-width: 576px) {
  .login form {
    width: 80%;
  }
}
/* end login section */
/* start cartlist section */
.cartList {
  padding: 120px 0 !important;
}
.cart_img {
  width: 80px;
}
.cart_head_quantity {
  padding: 0 60px !important;
}
.cart_quantity,
.cart_price,
.cart_removeBtn,
.cart_subtotal {
  vertical-align: middle;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.cart_quantity_btn {
  background-color: var(--sec-color) !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.cart_remove-btn {
  color: var(--sec-color) !important;
}
.cart_remove-all-btn {
  background-color: var(--sec-color) !important;
  color: #fff !important;
}
.empty-cart_img {
  width: 50%;
  margin: auto;
}
.empty-cart_content h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
}
.empty-cart_content h4 span {
  color: var(--sec-color) !important;
}
.empty-cart_content p {
  font-size: 20px;
  font-weight: 600;
}
.empty-cart_link {
  background-color: var(--sec-color) !important;
  color: #fff !important;
  border-radius: 30px !important;
  letter-spacing: 2px !important;
  font-size: 19px !important;
  font-weight: 500 !important;
}

/* end cartlist section */
