* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
.navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
:root {
  --sec-color: rgb(255, 32, 32);
}
.nav-link:hover {
  color: var(--sec-color) !important;
}
.product_item_img {
  width: 50%;
  margin: auto;
}
.product_item_img img {
  height: 9.5rem;
}
.product_item_category {
  width: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 1.5rem;
  margin: auto;
  border: 1px solid var(--sec-color);
  color: var(--sec-color);
}
.product_item_title {
  font-size: 1.125rem;
  font-weight: 600;
  height: 3.375rem;
  overflow: hidden;
}
.product_item_description {
  font-weight: 600;
  overflow: hidden;
  height: 7.5rem;
}
.product_item_price {
  font-size: 1rem;
  font-weight: 700;
}
.product_item .card {
  border: none;
}
.product_item_rating {
  background-color: var(--sec-color);
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
}
.details_product_rating {
  background-color: var(--sec-color);
  color: #fff;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
}
.details_product_img {
  width: 50%;
}
.details_product_category {
  background-color: var(--sec-color);
  width: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 1.25rem;
  color: #fff !important;
}
.product_item_btn {
  cursor: pointer;
  background-color: transparent !important;
  color: var(--sec-color) !important;
  border: none !important;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
